@using SchoolSystem.Models.ViewModels
@model SchoolSystem.Models.ViewModels.HomeworkViewModel


<h2>CreateHomework</h2>

@using (@Html.BeginForm("CreateHomework", "Portal", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-xs-6">
            @Html.LabelFor(m => m.Title)
            @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
        </div>
        <div class="col-xs-6">
            @Html.LabelFor(m => m.Subjects)
            @Html.DropDownListFor(m => m.Subject, new SelectList(Model.Subjects), "Select a Subject", new { @class = "form-control" })
        </div>
        <div class="col-xs-6">
            @Html.LabelFor(m => m.Description)
            @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
        </div>
        <div class="col-xs-6">
            @Html.LabelFor(m => m.DateDue)
            @Html.TextBoxFor( m => m.DateDue, new { @class="form-control", @id="datepicker" })
        </div>
        <div class="col-xs-12" style="margin-top: 15px;">
            <button class="btn btn-primary" type="submit">Submit</button>
            <button class="btn btn-info" type="button" onclick="location.href='@Url.Action("Index")'">Back</button>
        </div>
    </div>
}

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#datepicker").datepicker();
        });
    </script>
}

