@using ViewModels
@model HomeworkIndexModel

<h2>Homeworks</h2>

<table class="table" id="dataTable">
    <thead>
        <tr>
            <th>
                Subject
            </th>
            <th>
                Title
            </th>
            <th>
                Date Set
            </th>
            <th>
                Date Due
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var homework in Model.Homeworks)
        {
            <tr>
                <td>
                    @homework.Subject
                </td>
                <td>
                    @homework.Title
                </td>
                <td>
                    @homework.DateSet
                </td>
                <td>
                    @homework.DateDue
                </td>
            </tr>
        }

    </tbody>
</table>

<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-primary" type="button" onclick="location.href='@Url.Action("Index")'">Back</button>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#dataTable").DataTable();
        });
    </script>
}

